@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


* {
    box-sizing: border-box;
}

html{
    width: 100%;
    height: 100%;
    background-color: #FDFDFD;
}

body{
    width: 75%;
    max-width: 1500px;
    min-height: 100%;
    margin:auto;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

nav ul li a:hover{
    text-shadow:0px 0px, 5px #000000;
}

body{
    font-family: 'Quicksand', sans-serif;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 15px;
    padding-right: 15px;
    background-color: #2C3E50;
    justify-content: space-between;
}

.logo{
    color: #FFF;
    font-weight: 900;
    padding-left: 100px;
    padding-bottom: 15px;
    font-size: x-large;
}

nav ul{
    display: flex;
    flex-direction: row;
    /*padding: 10px;*/
}

nav ul li{
    margin-left: 5px;
    margin-right: 5px;
}
nav ul li a{
    color: #FFF;
    display: block;
    padding: 10px 20px;
    border-radius: 1px;
}

nav ul li a:hover{
    color: #DC7633;
}

.cta{
    background-color: #DC7633;
    color: #FFF;
}

.cta:hover{
    background-color: #D35400;
    color: #FFF;
}



footer {
    text-align: center;
    padding: 20px;
    background-color: #2C3E50;
    color: black;
}

h1 {
    display: flex;
    justify-content: left;
}

h5 {
    font-size: 12px;
    font-weight: 900;
    color: #d77b5d;
    padding-top:20px;
}

h5, h6 {
    font-family: Lato,sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
}


.column-aboutus {
    float: left;
    width: 33.33%;
    padding: 5px;
}

.row-aboutus::after {
    content: "";
    clear: both;
    display: table;
}

img {
    border-radius: 5px;
}

.row-gallery {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.column-gallery {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-gallery img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column-gallery {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column-gallery {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.column-contacts {
    columns: 2;
}

.row-contacts{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 20px;
}
.row-text{
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    padding-bottom: 20px;
}

.subscribe-form {
    display: flex;
    align-items: center;
    justify-content: right;
    padding-bottom: 10px;
}

.subscribe-form input {
    font-size: 18px;
    color: #000;
    border: none;
    outline: none;
    background: #ececec;
}

.subscribe-form button{
    border: none;
    border-radius: 2px;
    background: #DC7633;
    padding: 3px;
}

.subscribe-form button:hover {
    background-color: #D35400;
    color: #FFF;
}
#fade {
    display: none;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1001;
    -moz-opacity: 0.8;
    opacity: .80;
    filter: alpha(opacity=80);
}

#light {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 600px;
    max-height: 360px;
    margin-left: -300px;
    margin-top: -180px;
    border: 2px solid #FFF;
    background: #FFF;
    z-index: 1002;
    overflow: visible;
}

#boxclose {
    float: right;
    cursor: pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    background: #222222;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;
    position: absolute;
    right: 2px;
    top: 2px;
    z-index: 1002;
    opacity: 0.9;
}

.boxclose:before {
    content: "×";
}

#fade:hover ~ #boxclose {
    display:none;
}

.test:hover ~ .test2 {
    display: none;
}

.aboutus_text {
    text-align: justify;
    padding-right: 20px;
}
.widget-video-full{
    background-repeat       : no-repeat;
    background-position     : bottom center;
    background-size         : cover;
}
.wrapper-full-inner{
    padding-top             : 50px;
    padding-bottom          : 100px;
}
.section-white{
    background-color        : #fff;
}
.section-grey{
    background-color        : #f5f5f5;
}
.widget-title{
    text-align              : center;
    margin-bottom           : 20px;
}
.widget-title h5,
.widget-title h2{
    margin-bottom           : 0;
}
.widget-title h2{
    font-size               : 48px;
}
.widget-title p{
    display                 : inline-block;
    max-width               : 50vw;
    font-size               : 18px;
    line-height             : 30px;
    margin-top              : 20px;
}
/*.widget-title p:last-child{*/
/*    margin-bottom           : 0;*/
/*}*/
.widget-video-full .widget-inner .video-play:hover{
    -webkit-transform       : scale(1.1);
    -moz-transform       : scale(1.1);
    -ms-transform       : scale(1.1);
    -o-transform       : scale(1.1);
    transform       : scale(1.1);
}
.widget-video-full .widget-title + .widget-inner{
    margin-bottom           : 100px;
}
.widget-offers-grid .widget-title h5,
.widget-offers-grid .widget-title h2,
.widget-offers-grid .widget-title p{
    color                   : #fff;
}
.widget-video-full .widget-inner .video-play{
    display                 : inline-block;
    width                   : 200px;
    height                  : 200px;
    line-height             : 180px;
    text-align              : center;
    font-size               : 36px;
    color                   : #fff;
    border                  : 10px solid #fff;
    background-color        : rgba(36, 50, 74, 0.5);
    -webkit-border-radius   : 50%;
    -moz-border-radius   : 50%;
    -ms-border-radius   : 50%;
    -o-border-radius   : 50%;
    border-radius   : 50%;
    -webkit-box-shadow      : 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
    -moz-box-shadow      : 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
    box-shadow      : 0px 0px 30px 0px rgba(33, 30, 25, 0.1);
}
.widget-video-full .widget-inner .video-play:hover{
    -webkit-transform       : scale(1.1);
    -moz-transform       : scale(1.1);
    -ms-transform       : scale(1.1);
    -o-transform       : scale(1.1);
    transform       : scale(1.1);
}


.container {
    position: relative;
    width: 100%;
}


.container img {
    width: 100%;
    height: auto;
}


.container .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.container .btn:hover {
    background-color: black;
}
.to-gallery{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}
.img-home{
    padding-left: 60px;
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #30aa04;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.container-message{
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;

}
.container-home {
    position: relative;
    max-width: 800px; /* Maximum width */
    margin: 0 auto; /* Center it */
    padding-bottom: 20px;
}

.container-home .content {
    position: absolute; /* Position the background text */
    bottom: 20px; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
}
.contacts {
    background-color: #919537;
    padding: 10px;
    color: #F0F1EC;
    border-radius: 5px;
}

p .material-symbols-outlined {
    font-size: 24px;
    margin-right: 5px;
    vertical-align: middle;
    color: #D5D6B7;
}
.img-map{
    width: 100%;
    /*height: 400px;*/
    size: auto;
    padding-top: 28px;
    border-radius: 5px;
}
.services {
    position: relative;
    padding-top: 40px;
    padding-bottom: 20px;
}
.frame{
    width: 600px;
    height: 350px;

}
.list{
    list-style-type: square;
    position: relative;
    background: #ec9b64;
    margin-top: 45px;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    padding-top: 40px;
    padding-left: 40px;
}
.sq {
    list-style-type: circle;
}
.img-services{
    position: relative;
    width: 100%;
    float: top;
}
.text-center{
    text-align: center;
}
.section{
    position: relative;
    width: 100%;
    padding-top: 40px;
}
.extra-services{
    position: relative;
    text-align: center;
    padding-bottom: 50px;
}

div.rent {
    border: 1px solid #ccc;
    border-radius: 5px;
}

div.rent:hover {
    /*border: 1px solid #777;*/
    box-shadow: 2px 2px 5px #AEAEAE;
}

div.rent img {
    width: 100%;
    height: auto;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 33.33%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.desc {
    padding: 5px;
    text-align: left;
    font-weight: bold;
}

.price {
    text-align: left;
    font-weight: bold;
}

.price-before {
    text-align: left;
    font-weight: bold;
    text-decoration: line-through;
}

.price-after {
    text-align: left;
    font-weight: bold;
    color: red;
}

.price-small {
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
}

.fa {
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 25%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}
